<div class="container mx-auto my-12 flex flex-col items-center justify-center">
  <h1 class="text-7xl my-8 lg:my-12 font-bold text-transparent
    bg-clip-text bg-gradient-to-br text-transparent
    bg-clip-text bg-gradient-to-br from-pink-500
    to-blue-700 filter drop-shadow", style="text-align: center;">Welcome to Internal Wallet</h1>
  <p class= "text-3xl my-4:my-6" style="text-align: center;">You can top-up, send, and receive with Internal Wallet</p>
  <br>
  <div clss="container">
    <p class= "text-4md my-3:my-3" style="text-align: center;">Sign up or Login here:</p>
    <br>
    <%= link_to 'Sign up / Sign in', new_user_registration_path, class: "rounded-br-lg bg-indigo-700 text-white px-4 py-2 border hover:bg-white hover:border-indigo-700 text-lg hover:text-indigo-700" %>
  </div>
</div>